Repository danutzcodrescu/invoice-generator-electron: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --config ./.prettierrc --write, eslint --fix

feat: show 20 items per table & redirect to service table after item creation
  src/renderer/components/client/ClientTable.component.tsx
  src/renderer/components/expenses/ExpenseTable.component.tsx
  src/renderer/components/invoices/InvoiceTable.component.tsx
  src/renderer/components/profile/ProfileTable.component.tsx
  src/renderer/components/services/ServiceTable.component.tsx
  src/renderer/components/services/ServicesForm.component.tsx
  src/renderer/components/styles/Menu.styles.ts
  src/renderer/components/toolbox/Menu.component.tsx
  src/renderer/components/vatRules/VatTable.component.tsx
  src/renderer/containers/ServiceForm.container.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: autocomplete for items, add measurement and quantity for items, show all details in invoice
  .storybook/webpack.config.js
  package.json
  src/backend/entities/Invoice.entity.ts
  src/backend/entities/Service.entity.ts
  src/backend/resolvers/invoices.resolver.ts
  src/backend/resolvers/service.resolver.ts
  src/backend/resolvers/types/operations.helpers.ts
  src/renderer/components/client/ClientData.components.tsx
  src/renderer/components/expenses/ExpenseForm.component.tsx
  src/renderer/components/expenses/ExpenseTable.component.tsx
  src/renderer/components/invoices/Invoice.component.tsx
  src/renderer/components/invoices/Invoice.styles.ts
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/invoices/InvoiceFormClient.component.tsx
  src/renderer/components/invoices/InvoiceFormItems.component.tsx
  src/renderer/components/invoices/InvoiceFormProfile.component.tsx
  src/renderer/components/invoices/InvoiceTable.component.tsx
  src/renderer/components/invoices/helpers.ts
  src/renderer/components/services/ServicesForm.component.tsx
  src/renderer/containers/Invoice.container.tsx
  src/renderer/containers/InvoiceTable.container.tsx
  src/renderer/containers/ServiceTable.container.tsx
  src/renderer/generated/graphql.ts
  src/renderer/graphql/fragments.ts
  src/renderer/graphql/mutations.ts
  src/renderer/graphql/queries.ts
  stories/Client.stories.tsx
  stories/Expenses.stories.tsx
  stories/Invoice.stories.tsx
  stories/VatRuleForm.stories.tsx
  stories/invoice.mocks.ts
  webpack.renderer.config.js
  yarn.lock
Due: prettier --config ./.prettierrc --write, eslint --fix

wip: open pdf after creation
  src/main/invoices/index.ts
  src/main/main.ts
  src/renderer/components/Application.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: add success notification to open the invoice
  package.json
  src/main/invoices/index.ts
  src/main/main.ts
  src/renderer/components/Application.tsx
  src/renderer/components/expenses/ExpenseForm.component.tsx
  src/renderer/components/invoices/Invoice.component.tsx
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/invoices/LoadingModal.component.tsx
  src/renderer/components/invoices/LoadingModal.styles.ts
  src/renderer/components/notification/Notification.component.tsx
  src/renderer/components/services/ServicesForm.component.tsx
  src/renderer/containers/Invoice.container.tsx
  src/renderer/context/notification.context.tsx
  src/renderer/generated/graphql.ts
  src/renderer/graphql/fragments.ts
  src/renderer/graphql/mutations.ts
  webpack.main.dev.config.js
  webpack.renderer.dev.config.js
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: open invoice from invoice table
  .eslintrc.js
  src/main/events.ts
  src/main/invoices/index.ts
  src/main/main.ts
  src/renderer/components/invoices/InvoiceTable.component.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: type events as any
  src/renderer/components/invoices/InvoiceTable.component.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: turn offer into invoice
  src/backend/entities/Client.entity.ts
  src/backend/entities/Offer.entity.ts
  src/backend/resolvers/client.resolver.ts
  src/backend/resolvers/offers.resolver.ts
  src/renderer/components/client/ClientData.components.tsx
  src/renderer/components/invoices/InvoiceTable.component.tsx
  src/renderer/components/notification/Notification.component.tsx
  src/renderer/components/offer/OfferTable.component.tsx
  src/renderer/components/toolbox/pdf.hook.tsx
  src/renderer/components/utils/invoices.ts
  src/renderer/containers/ClientData.container.tsx
  src/renderer/containers/InvoiceForm.container.tsx
  src/renderer/containers/OfferForm.container.tsx
  src/renderer/containers/OfferTable.container.tsx
  src/renderer/generated/graphql.ts
  src/renderer/graphql/mutations.ts
  src/renderer/graphql/queries.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: querries with end date like yesterday
  src/backend/resolvers/expense.resolver.ts
  src/backend/resolvers/invoices.resolver.ts
  src/backend/resolvers/offers.resolver.ts
  src/backend/utils/helpers.ts
  src/renderer/components/client/ClientData.components.tsx
  src/renderer/components/expenses/ExpenseForm.component.tsx
  src/renderer/components/invoices/InvoiceFormItems.component.tsx
  src/renderer/containers/ClientData.container.tsx
  src/renderer/containers/ExpenseTable.container.tsx
  src/renderer/containers/InvoiceTable.container.tsx
  src/renderer/containers/OfferTable.container.tsx
  src/renderer/graphql/queries.ts
  src/renderer/utils/refetchData.ts
  yarn.lock
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: query by custom date
  src/backend/resolvers/client.resolver.ts
  src/backend/utils/helpers.ts
  src/renderer/components/client/ClientData.components.tsx
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/toolbox/SelectDates.component.tsx
  src/renderer/components/toolbox/SelectDates.styles.ts
  src/renderer/containers/ExpenseTable.container.tsx
  src/renderer/containers/InvoiceTable.container.tsx
  src/renderer/containers/OfferTable.container.tsx
  src/renderer/utils/refetchData.ts
  stories/SelectDate.stories.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: automatic invoice numbers
  src/backend/resolvers/client.resolver.ts
  src/backend/resolvers/invoices.resolver.ts
  src/backend/resolvers/offers.resolver.ts
  src/backend/utils/helpers.ts
  src/backend/utils/invoices.ts
  src/main/invoices/index.ts
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/utils/invoices.ts
  src/renderer/containers/InvoiceForm.container.tsx
  src/renderer/generated/graphql.ts
  src/renderer/graphql/client.ts
  src/renderer/graphql/queries.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: export and create excel
  .eslintrc.js
  package.json
  src/backend/utils/helpers.ts
  src/main/events.ts
  src/main/export/index.ts
  src/main/invoices/index.ts
  src/main/main.ts
  src/renderer/components/Routes.tsx
  src/renderer/components/offer/offer.helpers.ts
  src/renderer/components/styles/Menu.styles.ts
  src/renderer/components/toolbox/Menu.component.tsx
  src/renderer/components/toolbox/SelectDates.component.tsx
  src/renderer/containers/Export.container.tsx
  src/renderer/graphql/queries.ts
  src/renderer/utils/refetchData.ts
  yarn.lock
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: prepare for release
  .github/workflow/release.yml
  package.json
Due: prettier --config ./.prettierrc --write

fix: workflow file
  .github/workflows/release.yml
Due: none

fix: tag push workflow
  .github/workflows/release.yml
Due: none

fix: add gh token for deployment
  .github/workflows/release.yml
Due: none

fix: try again to deploy
  .github/workflows/release.yml
  package.json
Due: prettier --config ./.prettierrc --write

feat: add autoupdate
  package.json
  src/main/autoupdater/index.ts
  src/main/main.ts
  yarn.lock
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: scroll to top on every route
  src/renderer/components/Routes.tsx
  src/renderer/components/client/ClientTable.component.tsx
  src/renderer/components/profile/ProfileTable.component.tsx
  src/renderer/components/toolbox/scrollTop.hook.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: add menu in prod
  src/main/main.ts
  src/main/menu/index.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: menu not crashing in prod
  src/main/menu/index.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: add sentry
  .gitignore
  package.json
  src/backend/constants.ts
  src/backend/server.ts
  src/main/main.ts
  src/renderer/index.tsx
  tsconfig.json
  webpack.renderer.prod.config.js
  yarn.lock
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: jumping menu item & width of layout container
  src/renderer/components/styles/Menu.styles.ts
  src/renderer/components/toolbox/Menu.component.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: release workflow with sentry env vars
  .github/workflows/release.yml
Due: none

chore: bump version number for release
  package.json
Due: prettier --config ./.prettierrc --write

chore: fix env var for sentry project
  .github/workflows/release.yml
Due: none

fix: initialize sentry when app is ready
  src/main/main.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: import sentry from the right package
  src/backend/server.ts
  src/main/main.ts
  src/renderer/index.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

chore: bump version number for deployment
  package.json
Due: prettier --config ./.prettierrc --write

fix: prod fixes
  src/backend/entities/Expense.entity.ts
  src/backend/resolvers/expense.resolver.ts
  src/renderer/components/client/ClientForm.component.tsx
  src/renderer/containers/ServiceTable.container.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: some more errors detected in sentry
  .eslintrc.js
  package.json
  src/backend/resolvers/offers.resolver.ts
  src/backend/server.ts
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/invoices/helpers.ts
  src/renderer/components/offer/offer.helpers.ts
  src/renderer/containers/ClientTable.container.tsx
  src/renderer/containers/VatTable.container.tsx
  webpack.renderer.prod.config.js
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: vat rule from 0 and description for expense nullable
  package.json
  src/backend/entities/Expense.entity.ts
  src/backend/resolvers/vatRules.resolver.ts
  src/backend/utils/helpers.ts
  yarn.lock
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: delete option for all entities
  src/backend/entities/Expense.entity.ts
  src/backend/entities/Invoice.entity.ts
  src/backend/entities/Offer.entity.ts
  src/backend/entities/Profile.entity.ts
  src/backend/resolvers/client.resolver.ts
  src/backend/resolvers/expense.resolver.ts
  src/backend/resolvers/invoices.resolver.ts
  src/backend/resolvers/offers.resolver.ts
  src/backend/resolvers/profile.resolver.ts
  src/backend/resolvers/service.resolver.ts
  src/backend/resolvers/vatRules.resolver.ts
  src/renderer/components/client/ClientData.components.tsx
  src/renderer/components/client/ClientTable.component.tsx
  src/renderer/components/client/Editable.component.tsx
  src/renderer/components/client/ReadOnly.component.tsx
  src/renderer/components/expenses/ExpenseTable.component.tsx
  src/renderer/components/invoices/InvoiceTable.component.tsx
  src/renderer/components/invoices/LoadingModal.component.tsx
  src/renderer/components/notification/Notification.component.tsx
  src/renderer/components/offer/OfferTable.component.tsx
  src/renderer/components/profile/ProfileTable.component.tsx
  src/renderer/components/services/ServiceTable.component.tsx
  src/renderer/components/toolbox/DeleteModal.component.tsx
  src/renderer/components/toolbox/delete.hook.tsx
  src/renderer/components/vatRules/VatTable.component.tsx
  src/renderer/containers/ClientData.container.tsx
  src/renderer/containers/ClientTable.container.tsx
  src/renderer/containers/ExpenseTable.container.tsx
  src/renderer/containers/InvoiceTable.container.tsx
  src/renderer/containers/OfferTable.container.tsx
  src/renderer/containers/ProfileTable.container.tsx
  src/renderer/containers/ServiceTable.container.tsx
  src/renderer/containers/VatTable.container.tsx
  src/renderer/graphql/mutations.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: edit invoices, expenses and offers
  src/backend/entities/Base.entity.ts
  src/backend/entities/Expense.entity.ts
  src/backend/entities/Invoice.entity.ts
  src/backend/entities/Offer.entity.ts
  src/backend/entities/VatRule.entity.ts
  src/backend/resolvers/expense.resolver.ts
  src/backend/resolvers/invoices.resolver.ts
  src/backend/resolvers/offers.resolver.ts
  src/backend/resolvers/types/arguments.helpers.ts
  src/renderer/components/Application.tsx
  src/renderer/components/Routes.tsx
  src/renderer/components/expenses/ExpenseForm.component.tsx
  src/renderer/components/expenses/ExpenseTable.component.tsx
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/invoices/InvoiceFormItems.component.tsx
  src/renderer/components/invoices/InvoiceFormVat.component.tsx
  src/renderer/components/invoices/InvoiceHeader.component.tsx
  src/renderer/components/invoices/InvoiceTable.component.tsx
  src/renderer/components/offer/OfferSignature.tsx
  src/renderer/components/offer/OfferTable.component.tsx
  src/renderer/components/toolbox/FormField.component.tsx
  src/renderer/components/utils/Autocomplete.component.tsx
  src/renderer/components/utils/editForm.ts
  src/renderer/containers/ExpenseFormEdit.container.tsx
  src/renderer/containers/InvoiceFormEdit.container.tsx
  src/renderer/containers/OfferFormEdit.container.tsx
  src/renderer/generated/graphql.ts
  src/renderer/graphql/mutations.ts
  src/renderer/graphql/queries.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: fetch invoices only fo the client
  src/backend/utils/helpers.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: add payment deadline to invoice
  .storybook/electron.mock.js
  src/backend/entities/Invoice.entity.ts
  src/backend/resolvers/invoices.resolver.ts
  src/backend/resolvers/types/arguments.helpers.ts
  src/backend/resolvers/types/operations.helpers.ts
  src/main/invoices/index.ts
  src/renderer/components/invoices/Invoice.component.tsx
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/invoices/InvoiceHeader.component.tsx
  src/renderer/components/invoices/InvoiceTable.component.tsx
  src/renderer/components/invoices/helpers.ts
  src/renderer/components/utils/editForm.ts
  src/renderer/containers/Invoice.container.tsx
  src/renderer/generated/graphql.ts
  src/renderer/graphql/fragments.ts
  stories/Invoice.stories.tsx
  stories/invoice.mocks.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

feat: toggle invoice status
  src/backend/entities/Invoice.entity.ts
  src/backend/resolvers/invoices.resolver.ts
  src/renderer/components/client/ClientData.components.tsx
  src/renderer/components/invoices/InvoiceTable.component.tsx
  src/renderer/containers/ClientData.container.tsx
  src/renderer/containers/InvoiceTable.container.tsx
  src/renderer/generated/graphql.ts
  src/renderer/graphql/mutations.ts
  src/renderer/graphql/queries.ts
Due: prettier --config ./.prettierrc --write, eslint --fix

fix: invoice client id, clear autocomplete input after submit, double close icon autocomplete
  src/backend/resolvers/invoices.resolver.ts
  src/backend/resolvers/offers.resolver.ts
  src/renderer/components/expenses/ExpenseForm.component.tsx
  src/renderer/components/invoices/InvoiceForm.component.tsx
  src/renderer/components/invoices/InvoiceFormItems.component.tsx
Due: prettier --config ./.prettierrc --write, eslint --fix

Path conditions:
  prettier --config ./.prettierrc --write: any of: **/*.{js,ts,tsx,json,css,scss,md}
  eslint --fix: any of: **/*.{js,ts,tsx}
